/* CSS declarations go here */
.loginContainer{
    position:relative;
    display: block;
    width:25%;
    margin:auto;

}

#mapCanvas{
    position:relative;
    height: 900px;
}

#resultTable{
    display:none;
}

#downloadLink{
    display:none;
}

.foundZone{
    stroke:black;
    stroke-width: 1.5;
}